body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: url('/img/background.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    background: transparent !important;
    position: absolute;
    top: 20px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: flex-start;
    padding: 10px 40px;
    z-index: 1000;
    box-shadow: none;
    border: none !important;
    outline: none !important;
    margin-left: 10px;
}

.navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 50px;
}

.navbar ul li {
            display: inline-block;
}

.navbar ul li a {
                text-decoration: none;
                color: white;
                font-family: 'Inter', sans-serif;
                font-size: 20px;
                font-weight: 600;
}

.title {
    position: absolute;
    font-family: 'Italianno', cursive;
    font-size: 150px;
    color: white;
    text-shadow: 12px 14px 4px #155774;
    transform: translateX(-50%);
    top: 20%;
    left: 50%;
    text-align: center;
    white-space: nowrap;
}

.overlay-text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

 .overlay-text h2 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
    }

 .overlay-text p {
        font-size: 15px;
        line-height: 1.5;
        text-indent: 50px;
    }

/* LOGIN PAGE */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}


.login-box {
    background: rgba(21, 87, 116, 0.3); 
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    border: 10px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
    height: 450PX;
}

.welcome-text {
    font-family: 'Jersey 25', sans-serif;
    font-size: 60px;
    color: #E4280F;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.label-text {
    display: block;
    font-weight: 500;
    color: white;
    text-align: left;
    margin-top: 10px;
}


.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}


.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn-signin {
    background: #155774;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-register {
    color: white;
    text-decoration: underline;
    font-weight: 400;
}
