@{
    ViewData["Title"] = "Beverly Woods";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
}

<div class="hero-section">
    <div class="hero-content">
        <h1 class="title">Beverly</><span>Woods</span></h1>
        <div class="overlay-text">
            <h2>OUR COMMUNITY</h2>
            <p>
                Our community is rapidly growing in response to our Association expanding communication with our newly designed website.
                Our website is designed to enable our residents and members to keep abreast of current happenings and important information
                easily from your devices, no matter where you are.
            </p>
        </div>
    </div>
</div>
