@{
    ViewData["Title"] = "Login Page";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
}

<div class="hero-section">
    <div class="hero-content">
        <h1 class="title">Beverly</><span>Woods</span></h1>
        <div class="overlay-text">
            <h2>LOGIN SAMPLE</h2>
        </div>
    </div>
</div>
