@{
    ViewData["Title"] = "Login Page";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Jersey+25&family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
}

<div class="hero-section">
    <div class="signup-box">
        <h1 class="signup-text">SIGN UP</h1>
        <form>
            <br>
            <label for="fullname" class="label-text">FullName</label>
            <input type="text" id="fullname" class="input-fields">
            <br><br>
            <label for="email" class="label-text">Email</label>
            <input type="email" id="email" class="input-fields">
            <br><br>
            <label for="contact" class="label-text">Contact No.</label>
            <input type="contact" id="contact" class="input-fields">
            <br><br>
            <label for="username" class="label-text">Contact No.</label>
            <input type="username" id="username" class="input-fields">
            <br><br>
            <label for="contact" class="label-text">Contact No.</label>
            <input type="contact" id="contact" class="input-fields">
            <br><br>
            <div class="button-group">
                <button type="submit" class="btn-confirm">Confirm</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        customBlue: '#155774',
                        customOrange: '#E4280F',
                    },
                    fontFamily: {
                        jersey: ['Jersey 25', 'sans-serif'],
                        inter: ['Inter', 'sans-serif'],
                    }
                }
            }
        }
    </script>
}
